.cor_da_div1 {
    width: 100%;
    height: 50px;
    background-color: aqua;

}

.cor_da_div2 {
    width: 100%;
    height: 400px;
    background-color: rgb(4, 0, 255);

}

.cor_da_div3 {
    width: 100%;
    height: 50px;
    background-color: aqua;

}

.cor_da_div4 {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 255, 64);

}

.titulo {
    font-size: 50px;
    color: cornflowerblue;
    background: darkgoldenrod;
}


h1 {
 color: red;       
}

body {
    background: black;

}

#id_paragrafo {
    color: brown;
    /* CTRL + ; */
}

.container {
    font-size: 30px;
    background: darkcyan;
}

